.star {
    background: url('../../img/ciProfil/stars.png') no-repeat;
    display: inline-block !important;
    width: 16px;
    height: 16px;
}

.stars {
    margin-top: 10px;
    margin-left: -1px;
    margin-right: -1px;
}

.fullStar {
    background-position: -0px -0px;
}

.emptyStar {
    background-position: -0px -15px;
}