#moderatorTools {
	font: black;
}

#moderatorTools ul#mapRegion li.domRegion h6 {
	color: white; padding: 1px; border: solid white 1px; font-weight: bold;
}

#moderatorTools ul#mapRegion li.domRegion {
	width: 137px;
}

#moderatorTools ul#mapRegion li {
	display: block; float: left; border: 1px solid #BFBFBF;
	background-color: lightgray; margin: 2px;
}

#moderatorTools table.pieTable div.pieTable {
	width: 500px;
}

#moderatorTools table.pieTable div.pieChart {
	width: 450px; height: 300px;
}

#moderatorTools table.pieTable {
	border: none;
}

#moderatorTools table {
	border: 1px solid #BFBFBF; width: 100%;
}

#moderatorTools table.userManager caption {
	background-color: #009FCC; border-bottom: none; font-weight: bold;
	padding: 8px; color: white;
}

#moderatorTools table.userManager tr {
	background-color: #EBEBEB;
}

#moderatorTools table.userManager tr.impair {
	background-color: whiteSmoke;
}

#moderatorTools table.userManager td.spinnerWait {
	height: auto; width: auto; margin: 0;
}

#moderatorTools table.userManager th {
	font-weight: bold;
}

#moderatorTools table.userManager td,#moderatorTools table.userManager th
	{
	border: 1px solid #BFBFBF;
}

#moderatorTools table td.graphWrapper {
	float: left;
}

#moderatorTools #userProfil .libelleThematique:hover {
	cursor: pointer;
}

#moderatorTools fieldset {
	padding: 5px; border: #BFBFBF solid 1px; margin: 5px 0;
}

#moderatorTools select {
	width: auto; padding: 0;
}

#moderatorTools .btQuestion {
	background: url("../icons/jnt_ciProList.png") no-repeat scroll 0 0
		transparent; border: medium none transparent; cursor: pointer;
	height: 17px; width: 17px; display: inline-block;
}

#moderatorTools h3 {
	color: #009FCC; text-transform: uppercase; font-weight: bold;
	display: block; float: left;
}

#moderatorTools .exportIcon {
	background: url('images/ExcelIcon.jpg') no-repeat 0px 0px; width: 16px;
	height: 16px; display: block; float: left; margin-left: 15px;
}