#cnil-wrapper {
	position: fixed;
	bottom: 0;
	top: auto !important;
	left: auto !important;
	z-index: 1000;
	width: 960px;
	padding: 10px;
	margin: 0 auto;
	background: #391909;
	opacity: 0.9;
	display: none;
}

#cnil-wrapper #cnil-content {
	position: relative;
	width: 900px;
	height: auto;
	margin: 0 auto;
	padding: 20px;
	color: #FFFFFF;
}

#cnil-wrapper #cnil-content p {
	font-size: 15px;
}

#cnil-wrapper #cnil-content p a {
	color: rgb(0, 185, 228);
	font-weight : bold;
	text-decoration : underline;
}

#close-cnil-banner {
	color: white;
	cursor: pointer;
	position: absolute;
	top: 0;
	left: auto !important;
	right: 0;
	float: right;
}
#close-cnil-banner {
	background: url("pl_close_button.png") no-repeat;
	width: 45px;
	height: 45px;
	display: block;
}

/* BUTTON
   ============================================================================================================================ */
.btn-group { display: inline; width: 100%; position: relative; z-index: 0; }
.btn-group .btn { font-size: 100% !important; height: auto !important; text-align: center; float: left; margin: 15px 15px 15px 0; cursor: pointer; width: auto; color: white; text-transform: uppercase; text-decoration: none; position: relative; box-shadow: none; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; border: none; text-shadow: none; font-weight: bold; }
.btn-group .btn:hover { background-color: lightgray !important; }
.btn-group .btn:disabled, .btn-group .btn[disabled] { background-color: lightgray !important; }

/***********************
 * opaque slice manager
 */
.opaque-slice { position: absolute; top: 0px; left: 50%; width: 50%; height: 29px; background: url('opaque-slice.png') no-repeat; }
/* color */
.btn-group .btn.btn-large	.opaque-slice { height: 59px; left: 22%; width: 80%;}
.btn-group .btn.btn-med		.opaque-slice { height: 33px; left: 22%; width: 80%;}
.btn-group .btn.btn-small	.opaque-slice { height: 29px; left: 22%; width: 80%;}

/*********************** 
 * specific features
 */
/* size*/
.btn-group .btn.btn-large { padding: 20px 20px; font-size: 16px; }
.btn-group .btn.btn-med { padding: 10px 22px; font-size: 14px; text-decoration: none; }
.btn-group .btn.btn-small { padding: 2px 22px; font-size: 13px; text-decoration: none; }
/* color */
.btn-group .btn.btn-red { background-color: #EC2626; }
.btn-group .btn.btn-blue { background-color: #00b9e4; }
.btn-group .btn.btn-green { background-color: #47d5cd; }
/* position */
.btn-group .btn.btn-left { margin-left: 80px; }
.btn-group .btn.btn-right { float: right; margin: 15px 0 15px 15px; margin-right: 80px; }

/********************************************
* Mise a jour - charte Karine TAVEAU
*/

#cnil-wrapper {
	background-color: rgb(159,158,133) !important;
	opacity: 0.95;
}

#cnil-wrapper #cnil-content {
	margin: 0;
	padding: 5px;
}

#cnil-wrapper #cnil-content p {
	font-size: 12px;
	text-align: justify;
}

#cnil-wrapper #cnil-content p a, 
#cnil-wrapper #cnil-content p a:visited, 
#cnil-wrapper #cnil-content p a:active, 
#cnil-wrapper #cnil-content p a:hover {
	color: white;
}
